<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Dealership</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <div class="container">
    <body>
      @using CarDealership.Models;

      <h1>Car Listings</h1>
      <p>Here is a listing of available cars:</p>

      @if (Model.Count == 0)
      {
        <p>There are no cars currently listed.</p>
      }
      <ul>
        @foreach (Car car in Model)
        {
          <li>@car.Year @car.Make @car.Model</li>
        }
      </ul>
      <a href="/cars/new">Add a new car listing</a>
      <br>
      <a href="/">Return to home page</a>
      <br>
      <br>
      <form action="/cars/delete" method="post">
        <button type="submit" name="button">Clear All Listings</button>
      </form>
    </body>
  </div>
</html>